body {
    background-color: #000;
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 5rem;
    color: #85ffcc;
}

button{
    background-color: #000;
    border-color: #85ffcc;
    color: #fff;
}

#vidArea{
    border-radius: 5px;
}